      <div class="row">
        <div class="col-md-5 col-md-offset-7">

            <div class="panel panel-info">
              <div class="panel-heading">
                <button type="button" class="close" aria-hidden="true">&times;</button>
                {{ title }}
              </div>
              <div class="panel-body">
                {{^text}}
                  <img src="/img/spinner.gif">
                {{/text}}
                {{text}}
              </div>
              <div class="panel-footer"><a href="#edit">Edit</a></div>
            </div>

        </div>