body {
  padding: 10px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#map {
  position: absolute;
  top: 0px;
  left: 0px;
}
#search-form input,
#search-options {
  width: 200px;
}
#search-form {
  position: absolute;
  top: 17px;
  left: 100px;
  z-index: 1;
}
#search-form input {
  padding: 8px;
  font-size: 12px;
}
#search-options {
  position: absolute;
  top: 60px;
  left: 100px;
  z-index: 100;
}
#search-options h2,
#search-options h3 {
  font-size: 100%;
  margin: 0;
}
#filters .area label span {
  display: inline-block;
  background: url('/img/icons/circle-outline.png') 0 0px no-repeat;
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  padding: 0 0 0 0px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#filters .area label input {
  display: none;
}
#filters .area label input[name=small] + span {
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}
#filters .area label input[name=large] + span {
  height: 24px;
  width: 24px;
  background-size: 24px 24px;
}
#filters .area label input[name=unknown] + span {
  background-image: url('/img/icons/circle-question.png');
}
#filters .area label input:checked + span {
  background-image: url('/img/icons/circle-solid.png');
}
#filters .area label input[name=unknown]:checked + span {
  background-image: url('/img/icons/circle-question-solid.png');
}
#filters .form-group {
  margin-bottom: 0;
}
textarea[name=text] {
  display: none;
}
#md-editor iframe {
  border: 1px solid #CCC;
}
div.tagsinput {
  border: 1px solid #CCC;
  background: #FFF;
  padding: 5px;
  width: 400px;
  overflow-y: auto;
}
div.tagsinput span.tag {
  border: 1px solid #a5d24a;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: block;
  float: left;
  padding: 5px;
  text-decoration: none;
  background: #cde69c;
  color: #638421;
  margin-right: 5px;
  margin-bottom: 5px;
  font-family: helvetica;
  font-size: 13px;
}
div.tagsinput span.tag a {
  font-weight: bold;
  color: #82ad2b;
  text-decoration: none;
  font-size: 11px;
}
div.tagsinput input {
  width: 80px;
  margin: 0px;
  font-family: helvetica;
  font-size: 13px;
  border: 1px solid transparent;
  padding: 5px;
  background: transparent;
  color: #000;
  outline: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
}
div.tagsinput div {
  display: block;
  float: left;
}
.tags_clear {
  clear: both;
  width: 100%;
  height: 0px;
}
.not_valid {
  background: #FBD8DB !important;
  color: #90111A !important;
}
